In [11]:
import pandas as pd
import logging
import dateutil
from dateutil import parser
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
from geopandas import GeoDataFrame
from shapely.geometry import Point
%matplotlib inline
pd.set_option('display.max_columns', 500)

In [12]:
#import dataset of project times from "data" folder
file = "../../../data/cleaned/all_quarters__one_record_per_project.csv"
output="../../Output/"
df = pd.read_csv(file)

In [13]:
# Compare two files. Find differences
df1 = pd.read_csv(output+"/ex1.csv")
df2 = pd.read_csv(output+"/ex2.csv")

In [14]:
df1.shape

(713, 32)

In [15]:
df2.shape

(2248, 32)

In [16]:
df_both=df1.merge(df2, left_on=['address', 'apn'], right_on=['address', 'apn'], how='outer', indicator=True)

In [17]:
df_both.shape

(2257, 63)

In [20]:
df_both['_merge'].unique()

[both, left_only, right_only]
Categories (3, object): [both, left_only, right_only]

In [22]:
df_both[df_both['_merge']=='left_only']

,Unnamed: 0_x,Unnamed: 0.1_x,BP_date_x,address,apn,best_date_x,best_stat_x,comp_date_x,con_date_x,dbi_permit_x,first_date_x,first_project_record_date_x,firstfiled_x,latest_project_record_date_x,latest_project_status_x,project_dates_x,project_duration_days_x,project_statuses_x,report_quarter_x,report_year_x,status_x,units_x,unitsnet_x,x_x,y_x,zoning_x,zoning_simplified_x,project_time_years_x,geometry_x,index_right_x,nhood_x,zone_class_x,Unnamed: 0_y,Unnamed: 0.1_y,BP_date_y,best_date_y,best_stat_y,comp_date_y,con_date_y,dbi_permit_y,first_date_y,first_project_record_date_y,firstfiled_y,latest_project_record_date_y,latest_project_status_y,project_dates_y,project_duration_days_y,project_statuses_y,report_quarter_y,report_year_y,status_y,units_y,unitsnet_y,x_y,y_y,zoning_y,zoning_simplified_y,project_time_years_y,geometry_y,index_right_y,nhood_y,zone_class_y,_merge
140,294.0,12717.0,2011-03-09,25 ESSEX ST,3749064,2013-09-19,CONSTRUCTION,10/01/2013,2012-01-23,201003158191,2010-03-15,2010-03-15,2010-03-15,2013-09-19,CONSTRUCTION,"('2010-03-15', '2010-03-15', '2011-03-09', '20...",1296.0,"('BP FILED', 'BP FILED', 'BP APPROVED', 'BP IS...",3.0,2013.0,Under Construction,120.0,120.0,-122.395689,37.786380,M-1,M-1,3.550685,POINT (-122.395689 37.78638),5.0,Financial District/South Beach,Industrial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
153,2942.0,16084.0,2012-08-09,235 BROADWAY,0165021,2014-09-19,CONSTRUCTION,10/01/2014,2013-09-13,201105166063,2010-06-17,2011-05-16,2010-06-17,2014-09-19,CONSTRUCTION,"('2011-05-16', '2011-05-16', '2012-08-09', '20...",1567.0,"('BP FILED', 'BP FILED', 'BP ISSUED', 'BP ISSU...",3.0,2014.0,Under Construction,75.0,75.0,-122.401604,37.798507,C-2,C-2,4.293151,POINT (-122.4016044 37.7985075),5.0,Financial District/South Beach,Standard Commercial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
193,2850.0,21424.0,NaN,PARCEL F,0785029,2016-01-14,CONSTRUCTION,2016-01-14,2016-01-14,201303273113.0,2012-11-07,2016-01-14,2012-11-07,2016-01-14,CONSTRUCTION,"('2016-01-14',)",1163.0,"('CONSTRUCTION',)",4.0,2015.0,Under Construction,69.0,69.0,-122.422880,37.779072,NCT-3,NCT-3,3.186301,POINT (-122.422879663 37.7790720259),9.0,Hayes Valley,Nhb Commercial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
352,1610.0,26437.0,NaN,POTRERO1010 (BLDG 1 OF 2),3833001,2016-05-26,CONSTRUCTION,10/01/2016,2016-05-26,201112070227,2000-05-18,2016-05-26,2000-05-18,2016-05-26,CONSTRUCTION,"('2016-05-26', '2016-05-26')",5980.0,"('CONSTRUCTION', 'CONSTRUCTION')",3.0,2016.0,Under Construction,65.0,65.0,-122.396595,37.767108,UMU,UMU,16.383562,POINT (-122.39659517 37.7671083414),19.0,Mission Bay,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
356,3233.0,15504.0,2011-01-26,1000 FOURTH STREET (BLOCK 13 EAST),8711014,2014-05-09,CONSTRUCTION,07/01/2014,2012-07-31,201012036075,2010-09-01,2010-09-01,2010-10-13,2014-05-09,CONSTRUCTION,"('2010-09-01', '2010-09-01', '2010-09-01', '20...",1399.0,"('PL FILED', 'PL FILED', 'PL FILED', 'BP ISSUE...",2.0,2014.0,Under Construction,150.0,150.0,-122.387329,37.773370,MB-RA,MB-RA,3.832877,POINT (-122.387329 37.77337),19.0,Mission Bay,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
539,1809.0,27641.0,NaN,650 INDIANA ST (BLDG 2 OF 2),4041009,2016-12-22,CONSTRUCTION,01/01/2017,2016-03-17,201312244992,2012-12-21,2016-03-17,2012-12-21,2016-12-22,CONSTRUCTION,"('2016-03-17', '2016-06-27', '2016-09-30', '20...",1472.0,"('CONSTRUCTION', 'CONSTRUCTION', 'CONSTRUCTION...",4.0,2016.0,Under Construction,51.0,51.0,-122.391862,37.762148,UMU,UMU,4.032877,POINT (-122.391861644 37.7621478313),28.0,Potrero Hill,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
599,983.0,20217.0,2014-01-30,200-214 06TH ST,3731001,2015-07-16,CONSTRUCTION,10/01/2015,2015-07-16,201211295086.0,2011-02-09,2014-01-30,2011-02-09,2015-07-16,CONSTRUCTION,"('2014-01-30', '2015-07-16', '2015-07-16')",1695.0,"('BP ISSUED', 'CONSTRUCTION', 'CONSTRUCTION')",3.0,2015.0,Under Construction,67.0,67.0,-122.407102,37.779379,NCT,NCT,4.643836,POINT (-122.407101573 37.779379391),33.0,South of Market,Nhb Commercial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
603,489.0,21511.0,2015-03-16,233-237 SHIPLEY ST,3753096,2015-10-30,CONSTRUCTION,01/01/2016,2015-10-30,201401247066.0,2014-01-24,2015-03-16,2014-01-24,2015-10-30,CONSTRUCTION,"('2015-03-16', '2015-10-30', '2015-10-30')",707.0,"('BP ISSUED', 'CONSTRUCTION', 'CONSTRUCTION')",4.0,2015.0,Under Construction,22.0,22.0,-122.403449,37.779132,MUR,MUR,1.936986,POINT (-122.403448729 37.7791316706),33.0,South of Market,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
619,2285.0,13575.0,2008-04-25,1401 MARKET ST,3507041,2012-02-23,CONSTRUCTION,01/01/2014,2012-02-23,200607207084,2006-05-03,2008-04-25,2006-05-03,2012-02-23,CONSTRUCTION,"('2008-04-25', '2008-04-25', '2008-04-25', '20...",2800.0,"('BP ISSUED', 'BP ISSUED', 'BP ISSUED', 'BP IS...",4.0,2013.0,Under Construction,754.0,754.0,-122.417828,37.776309,C-3-G,C-3-G,7.671233,POINT (-122.4178279 37.77630880000001),33.0,South of Market,Standard Commercial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [18]:
df_both.head()

,Unnamed: 0_x,Unnamed: 0.1_x,BP_date_x,address,apn,best_date_x,best_stat_x,comp_date_x,con_date_x,dbi_permit_x,first_date_x,first_project_record_date_x,firstfiled_x,latest_project_record_date_x,latest_project_status_x,project_dates_x,project_duration_days_x,project_statuses_x,report_quarter_x,report_year_x,status_x,units_x,unitsnet_x,x_x,y_x,zoning_x,zoning_simplified_x,project_time_years_x,geometry_x,index_right_x,nhood_x,zone_class_x,Unnamed: 0_y,Unnamed: 0.1_y,BP_date_y,best_date_y,best_stat_y,comp_date_y,con_date_y,dbi_permit_y,first_date_y,first_project_record_date_y,firstfiled_y,latest_project_record_date_y,latest_project_status_y,project_dates_y,project_duration_days_y,project_statuses_y,report_quarter_y,report_year_y,status_y,units_y,unitsnet_y,x_y,y_y,zoning_y,zoning_simplified_y,project_time_years_y,geometry_y,index_right_y,nhood_y,zone_class_y,_merge
0,2042.0,11295.0,2009-07-14,55 WATERVILLE ST,5379029,2012-07-27,CONSTRUCTION,04/01/2013,2011-05-20,200712049630,2007-12-04,2009-07-14,2007-12-04,2012-07-27,CONSTRUCTION,"('2009-07-14', '2009-07-14', '2009-07-14', '20...",1945.0,"('BP ISSUED', 'BP ISSUED', 'BP ISSUED', 'BP IS...",1.0,2013.0,Under Construction,1.0,1.0,-122.402582,37.735288,RH-1,RH-1,5.328767,POINT (-122.402582 37.735288),0.0,Bayview Hunters Point,Conventional Residential,2042.0,11295.0,2009-07-14,2012-07-27,CONSTRUCTION,04/01/2013,2011-05-20,200712049630,2007-12-04,2009-07-14,2007-12-04,2012-07-27,CONSTRUCTION,"('2009-07-14', '2009-07-14', '2009-07-14', '20...",1945.0,"('BP ISSUED', 'BP ISSUED', 'BP ISSUED', 'BP IS...",1.0,2013.0,Under Construction,1.0,1.0,-122.402582,37.735288,RH-1,RH-1,5.328767,POINT (-122.402582 37.735288),0.0,Bayview Hunters Point,Conventional Residential,both
1,1028.0,575.0,NaN,2189 BAYSHORE BL,5066B007,2009-03-09,CONSTRUCTION,10/01/2009,2009-03-09,200604148997,2006-04-14,2009-03-09,2006-04-14,2009-03-09,CONSTRUCTION,"('2009-03-09',)",1266.0,"('CONSTRUCTION',)",3.0,2009.0,Under Construction,5.0,5.0,-122.401680,37.712178,M-1,M-1,3.468493,POINT (-122.40168 37.712178),0.0,Bayview Hunters Point,Industrial,1028.0,575.0,NaN,2009-03-09,CONSTRUCTION,10/01/2009,2009-03-09,200604148997,2006-04-14,2009-03-09,2006-04-14,2009-03-09,CONSTRUCTION,"('2009-03-09',)",1266.0,"('CONSTRUCTION',)",3.0,2009.0,Under Construction,5.0,5.0,-122.401680,37.712178,M-1,M-1,3.468493,POINT (-122.40168 37.712178),0.0,Bayview Hunters Point,Industrial,both
2,1156.0,26951.0,2016-07-26,2 VESTA ST,5403001,2016-11-21,CONSTRUCTION,01/01/2017,2016-11-21,201509237900,2015-09-23,2015-09-23,2015-09-23,2016-11-21,CONSTRUCTION,"('2015-09-23', '2015-09-23', '2015-09-23', '20...",466.0,"('BP FILED', 'BP FILED', 'BP FILED', 'BP FILED...",4.0,2016.0,Under Construction,1.0,1.0,-122.400370,37.731241,RH-1,RH-1,1.276712,POINT (-122.400369728 37.7312411613),0.0,Bayview Hunters Point,Conventional Residential,1156.0,26951.0,2016-07-26,2016-11-21,CONSTRUCTION,01/01/2017,2016-11-21,201509237900,2015-09-23,2015-09-23,2015-09-23,2016-11-21,CONSTRUCTION,"('2015-09-23', '2015-09-23', '2015-09-23', '20...",466.0,"('BP FILED', 'BP FILED', 'BP FILED', 'BP FILED...",4.0,2016.0,Under Construction,1.0,1.0,-122.400370,37.731241,RH-1,RH-1,1.276712,POINT (-122.400369728 37.7312411613),0.0,Bayview Hunters Point,Conventional Residential,both
3,1121.0,12215.0,2009-06-09,157 APOLLO ST,5405023,2013-05-10,CONSTRUCTION,07/01/2013,2013-04-09,200710105002,2007-10-10,2009-06-09,2007-10-10,2013-05-10,CONSTRUCTION,"('2009-06-09', '2009-06-09', '2009-06-09', '20...",2091.0,"('BP APPROVED', 'BP APPROVED', 'BP APPROVED', ...",2.0,2013.0,Under Construction,1.0,1.0,-122.398665,37.730762,RH-1,RH-1,5.728767,POINT (-122.398665 37.730762),0.0,Bayview Hunters Point,Conventional Residential,1121.0,12215.0,2009-06-09,2013-05-10,CONSTRUCTION,07/01/2013,2013-04-09,200710105002,2007-10-10,2009-06-09,2007-10-10,2013-05-10,CONSTRUCTION,"('2009-06-09', '2009-06-09', '2009-06-09', '20...",2091.0,"('BP APPROVED', 'BP APPROVED', 'BP APPROVED', ...",2.0,2013.0,Under Construction,1.0,1.0,-122.398665,37.730762,RH-1,RH-1,5.728767,POINT (-122.398665 37.730762),0.0,Bayview Hunters Point,Conventional Residential,both
4,1500.0,12792.0,2011-02-22,6600 THIRD STREET,5476009,2013-08-29,CONSTRUCTION,10/01/2013,2012-07-13,201007196949,2008-09-23,2008-09-23,2008-09-23,2013-08-29,CONSTRUCTION,"('2008-09-23', '2008-09-23', '2009-11-19', '20...",1834.0,"('PL FILED', 'PL FILED', 'PL APPROVED', 'BP FI...",3.0,2013.0,Under Construction,30.0,30.0,-122.397787,37.718831,RM-1,RM-1,5.024658,POINT (-122.397787 37.718831),0.0,Bayview Hunters Point,Industrial,1500.0,12792.0,2011-02-22,2013-08-29,CONSTRUCTION,10/01/2013,2012-07-13,201007196949,2008-09-23,2008-09-23,2008-09-23,2013-08-29,CONSTRUCTION,"('2008-09-23', '2008-09-23', '2009-11-19', '20...",1834.0,"('PL FILED', 'PL FILED', 'PL APPROVED', 'BP FI...",3.0,2013.0,Under Construction,30.0,30.0,-122.397787,37.718831,RM-1,RM-1,5.024658,POINT (-122.397787 37.718831),0.0,Bayview Hunters Point,Industrial,both